{% extends 'cabshare/base.html'%}

{% block title%} My Bookings {% endblock %}

{% block body %}
<style>
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
</style>

<div style="height:85vh;" id="overflow">
<h2 style="color:white;"> Current Bookings </h2>
{% if bookings %}

  <div class="row">
  <!-- row attribute along with col attribute below keeps cards in horizontal order -->
  {% for booking in bookings %}
    {% if booking.is_active %}

      <div class="col-sm-12 col-lg-3 animated flipInY">
        <!-- class="col-sm-12 col-lg-3" makes cards responsive -->
        <!-- col-lg-num -> here num decides the gap between cards -->
        <div class="card" style="width:400px;background: rgba(6, 4, 4, 0.6);">
          <div class="card-body" style="color:white">
            <h4 class="card-title"> DOJ : {{ booking.date_of_journey }} </h4>
            <p class="card-text"> Time : {{ booking.time }} </p>
            <p class="card-text"> Starting Point : {{ booking.starting_point }} </p>
            <p class="card-text"> Destination : {{ booking.destination }} </p>
            <p class="card-text"> Amount_of_luggage : {{ booking.amount_of_luggage }} </p>
            <p class="card-text"> Budget : {{ booking.budget }} </p>
            <a href="{% url 'cabshare:booking-viewrequests' booking.id %}" class="btn btn-primary">View Requests &nbsp;</a>

            <a href="{% url 'cabshare:booking-update' booking.id %}"><button type="button" class="btn btn-light"><i class='fas fa-edit'></i>Edit </button>&nbsp;</a>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{booking.pk}}"><i class='fas fa-trash-alt'></i> Cancel </button>
            <br>
            <br>

            <div id="decision{{ booking.pk }}">
              {% if booking.drop == False %}
                <button type="button" class="btn btn-secondary" name="{{ booking.pk }}" onclick="drop_booking(this)">Drop </button>&nbsp;
              {% else %}
                <button type="button" class="btn btn-info" name="{{ booking.pk }}" onclick="make_active(this)">Make active </button>&nbsp;
              {% endif %}
            </div>
          </div>
          <div class="card-footer" style="color:white">
             You are going together with ....
             {{ booking.going_together }} <a href="{% url 'cabshare:booking-viewrequests' booking.pk %}"> others </a>
          </div>

        </div>
      </div>
      <div class="modal" id="myModal{{booking.pk}}" style="color:black">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"> Cancel Booking </h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body"> Are you sure to cancel this booking? </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal"> Go Back </button>
              <a href="{% url 'cabshare:booking-delete' booking.id %}"> <button type="button" class="btn btn-danger"> Cancel Booking </button> </a>
            </div>

          </div>
        </div>
      </div>

      <br>
    {% endif %}
  {% endfor %}
  </div>
{% else %}
  <h3 style="color:white;">No Bookings</h3>
{% endif %}


<h2 style="color:white;"> Previous Bookings </h2>
<button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModaldelete"><i class='fas fa-trash-alt'></i> Delete All</button>
<div class="modal" id="myModaldelete">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title"> Delete All </h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>

      <div class="modal-body"> Are you sure to delete history? </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-light" data-dismiss="modal"> Go Back </button>
        <a href="{% url 'cabshare:booking-delete-previous' %}"> <button type="button" class="btn btn-danger"> Delete </button> </a>
      </div>

    </div>
  </div>
</div>

{% if bookings %}

<div class="row">
  <!-- row attribute along with col attribute below keeps cards in horizontal order -->
  {% for booking in bookings %}
    {% if not booking.is_active %}

      <div class="col-sm-12 col-lg-3 animated flipInY">
        <!-- class="col-sm-12 col-lg-3" makes cards responsive -->
        <!-- col-lg-num -> here num decides the gap between cards -->
        <div class="card" style="width:400px;background: rgba(6, 4, 4, 0.6);">
          <div class="card-body" style="color:white">
            <h4 class="card-title"> DOJ : {{ booking.date_of_journey }} </h4>
            <p class="card-text"> Time : {{ booking.time }} </p>
            <p class="card-text"> Starting Point : {{ booking.starting_point }} </p>
            <p class="card-text"> Destination : {{ booking.destination }} </p>
            <p class="card-text"> amount_of_luggage : {{ booking.amount_of_luggage }} </p>
            <p class="card-text"> Budget : {{ booking.budget }} </p>
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#myModal{{booking.pk}}"><i class='fas fa-trash-alt'></i> Delete </button>
          </div>
          <div class="card-footer" style="color:white">
             You travelled together with ....
             {{ booking.going_together }} <a href="{% url 'cabshare:booking-viewrequests' booking.pk %}"> others </a>
          </div>

        </div>
      </div>
      <div class="modal" id="myModal{{booking.pk}}" style="color:black">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title"> Cancel Booking </h4>
              <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <div class="modal-body"> Are you sure to cancel this booking? </div>

            <div class="modal-footer">
              <button type="button" class="btn btn-light" data-dismiss="modal"> Go Back </button>
              <a href="{% url 'cabshare:booking-delete' booking.id %}"> <button type="button" class="btn btn-danger"> Delete </button> </a>
            </div>

          </div>
        </div>
      </div>

    {% endif %}
  {% endfor %}
  </div>
{% else %}
  <h3 style="color:white;">No Bookings</h3>
{% endif %}
</div>

<script type="text/javascript">
  onload = function() {
    document.getElementById("overflow").style.overflow = "auto";
  };

  function drop_booking(d) {
      var input = d.getAttribute('name');

      $.ajax({
          url: "{% url 'cabshare:drop_booking' %}",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            'inputValue': input
          },
          dataType: 'json',
          success: function (data) {
            place = "decision" + input
            html = '<div id="decision'+data['pk']+'"><button type="button" class="btn btn-info" name="'+data['pk']+'" onclick="make_active(this);">Make active</button> </div>'
            document.getElementById(place).innerHTML = html;
          }
        });
      }

  function make_active(d) {
      var input = d.getAttribute('name');

      $.ajax({
          url: "{% url 'cabshare:make_active' %}",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            'inputValue': input
          },
          dataType: 'json',
          success: function (data) {
            place = "decision" + input
            html = '<div id="decision'+data['pk']+'"><button type="button" class="btn btn-secondary" name="'+data['pk']+'" onclick="drop_booking(this);">Drop</button> </div>'
            document.getElementById(place).innerHTML = html;
          }
        });
      }

</script>
{% endblock %}
