{% extends 'cabshare/base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}
<h1> Welcome {{ user.username }} !!</h1>

<h2> Active Bookings </h2>

{% if bookings %}

  <div class="row">
  <!-- row attribute along with col attribute below keeps cards in horizontal order -->
  {% for booking in bookings %}
      <div class="col-sm-12 col-lg-3">
        <!-- class="col-sm-12 col-lg-3" makes cards responsive -->
        <!-- col-lg-num -> here num decides the gap between cards -->
        <div class="card h-100" style="width:400px">
          <div class="card-body">
            <h4 class="card-title"> DOJ : {{ booking.date_of_journey }} </h4>
            <p class="card-text"> Time : {{ booking.time }} </p>
            <p class="card-text"> Destination : {{ booking.destination }} </p>
            <p class="card-text"> Amount_of_luggage : {{ booking.amount_of_luggage }} </p>
            <p class="card-text"> Budget : {{ booking.budget }} </p>
            <p class="card-text"> Booking created by <a href="{% url 'account:profile-another-user' booking.user.pk %}">{{ booking.user.username }}</a> </p>

            {% if requests %}
              {% for request in requests %}
                {% if request.to_booking == booking %}
                  {% if not request.accept %}
                    <a href="{% url 'cabshare:cancelrequest' request.pk %}"><button type="button" class="btn btn-primary">Cancel Request</button> </a>
                  {% else %}
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tagged </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'cabshare:cancelrequest' request.pk %}">Untag</a>
                      </div>
                    </div>

                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if not booking in to_bookings %}
                <a href="{% url 'cabshare:joinrequest' booking.pk %}"><button type="button" class="btn btn-primary">Request to join</button> </a>
              {% endif %}
            {% else %}
              <a href="{% url 'cabshare:joinrequest' booking.pk %}"><button type="button" class="btn btn-primary">Request to join</button> </a>
            {% endif %}
            <br/>
              <a href="{% url 'cabshare:chat' booking.user.pk %}"><button type="button" class="btn btn-primary">Chat</button> </a>
          </div>
        </div>
      </div>
  {% endfor %}
  </div>
{% else %}
  <h3>No Bookings</h3>
{% endif %}


{% endblock %}
