{% extends 'cabshare/base.html' %}

{% block title %} Profile {% endblock %}

{% block body %}
<style>
::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}
</style>

<h1 style="color:white;"> Welcome {{ user.username }} !!</h1>
<h2 style="color:white;"> Active Bookings </h2>

<div style="display:none">
<input type="text" id="from_user_pk" value="{{user.pk}}">
</div>

{% if bookings %}

  <div class="row" style="height:85vh;" id="overflow">
  <!-- row attribute along with col attribute below keeps cards in horizontal order -->
  {% for booking in bookings %}
      <div class="col-sm-12 col-lg-3 animated flipInY">
        <!-- class="col-sm-12 col-lg-3" makes cards responsive -->
        <!-- col-lg-num -> here num decides the gap between cards -->
        <div class="card" style="width:400px;background: rgba(6, 4, 4, 0.6);">
          <div class="card-body" style="color:white">
            <h4 class="card-title"> DOJ : {{ booking.date_of_journey }} </h4>
            <p class="card-text"> Time : {{ booking.time }} </p>
            <p class="card-text"> Starting Point : {{ booking.starting_point }} </p>
            <p class="card-text"> Destination : {{ booking.destination }} </p>
            <p class="card-text"> Amount_of_luggage : {{ booking.amount_of_luggage }} </p>
            <p class="card-text"> Budget : {{ booking.budget }} </p>
            <p class="card-text"> Booking created by <a href="{% url 'account:profile-another-user' booking.user.pk %}">{{ booking.user.username }}</a> </p>

            {% if requests %}
              {% for request in requests %}
                {% if request.to_booking == booking %}
                  {% if not request.accept %}
                    <span id="unjoin{{request.pk}}"><button type="button" class="btn btn-primary" id="cancel{{request.pk}}" value="{{request.pk}}" onclick="cancelrequest(this);">Cancel Request</button> </span>
                  {% else %}
                  <span id="unjoin{{request.pk}}">
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tagged </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="#"><button type="button" class="btn btn-light" id="cancel{{request.pk}}" value="{{request.pk}}" onclick="cancelrequest(this);">Untag</button></a>
                      </div>
                    </div>
                  </span>
                  {% endif %}
                {% endif %}
              {% endfor %}
              {% if not booking in to_bookings %}
                <span id="join{{ booking.pk }}"><button type="button" class="btn btn-primary" id="request{{ booking }}" name="{{ booking.pk }}" value="{{ booking.user.pk }}" onclick="joinrequest(this);request(this);">Request to join</button></span>
              {% endif %}
            {% else %}
              <span id="join{{ booking.pk }}"><button type="button" class="btn btn-primary" id="request{{ booking }}" name="{{ booking.pk }}" value="{{ booking.user.pk }}" onclick="joinrequest(this);request(this);">Request to join</button></span>
            {% endif %}
            <br/>
              <a href="{% url 'cabshare:chat' booking.user.pk %}"><button type="button" class="btn btn-primary">Chat</button> </a>
          </div>
        </div>
        <br>
      </div>
  {% endfor %}
  </div>
{% else %}
  <h3 style="color:white;">No Bookings</h3>
{% endif %}

<script>
  function joinrequest(d) {
      var input = d.getAttribute('name');

      $.ajax({
          url: "{% url 'cabshare:joinrequest' %}",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            'inputValue': input
          },
          dataType: 'json',
          success: function (data) {
            place = "join" + input
            html = '<span id="unjoin'+data['pk']+'"><button type="button" class="btn btn-primary" id="cancel'+data['pk']+'" value="'+data['pk']+'" onclick="cancelrequest(this);">Cancel Request</button> </span>'
            document.getElementById(place).innerHTML = html;
          }
        });
      }

  function cancelrequest(d) {
      var input = d.getAttribute('value');

      $.ajax({
          url: "{% url 'cabshare:cancelrequest' %}",
          data: {
            csrfmiddlewaretoken: "{{ csrf_token }}",
            'inputValue': input
          },
          dataType: 'json',
          success: function (data) {
            place = "unjoin" + input
            html = '<span id="join'+data['booking_pk']+'"><button type="button" class="btn btn-primary" id="request'+data['booking_name']+'" name="'+data['booking_pk']+'" value="'+data['booking_user_pk']+'" onclick="joinrequest(this);request(this);">Request to join</button></span>'
            document.getElementById(place).innerHTML = html;
          }
        });
      }

  onload = function() {
    document.getElementById("overflow").style.overflow = "auto";
  };


</script>
{% endblock %}
