{% extends 'cabshare/base.html' %}

{% block title %} Notifications {% endblock %}

{% block body %}
{% load filters %}
<div class="card" style="height:85vh;background: rgba(6, 4, 4, 0.6);" id="overflow">
<div id="chat" class="card-body">
  <div align="right">
    <a href="{% url 'cabshare:notification-delete-all' %}"><button type="button" class="btn btn-danger">Delete all</button></a>
  </div>
  {% if notifications %}
    <div class="table-responsive" >
       <table class="table table-hover">
         <thead style="border-color:white">
           <tr>
             <th style="color:white;">No.</th>
             <th style="color:white;">Notifications</th>
           </tr>
         </thead>
         <tbody>
           {% for notification in notifications %}
             <tr>
               <td style="color:white;"> {{ forloop.counter }} </td>
               {% if notification.type == "request" %}
                <td>
                   {% with notification.notification|split:"-/-" as parts %}
                     <a href="{% url 'cabshare:booking-viewrequests' parts|last %}" style="{% if forloop.counter > unseen%}color:white;{% endif %}">{{ parts|first }}</a>
                   {% endwith %}
                </td>
               {% elif notification.type == "accept" %}
                <td> <a href="{% url 'cabshare:myrequests' %}" style="{% if forloop.counter > unseen%}color:white;{% endif %}">{{ notification.notification }}</a></td>
               {% else %}
                <td> <a href="{% url 'cabshare:mychats' %}" style="{% if forloop.counter > unseen%}color:white;{% endif %}">{{ notification.notification }}</a> </td>
               {% endif %}
             </tr>
            {% endfor %}
         </tbody>
       </table>
     </div>

  {% else %}
    <h3 style=""> No new notifications to show </h3>
  {% endif %}
</div>
</div>

  <script type="text/javascript">

    onload = function() {
      document.getElementById("overflow").style.overflow = "auto";
    };

  </script>
{% endblock %}
