{% extends 'cabshare/base.html'%}

{% block title%} My Bookings {% endblock %}

{% block body %}
<div style="display:none">
<input type="text" id="from_user_pk" value="{{user.pk}}">
</div>

<h2> Suitable bookings for you </h2>
  {% if result %}

    <div class="row">
    <!-- row attribute along with col attribute below keeps cards in horizontal order -->
    {% for booking in result %}
        <div class="col-sm-12 col-lg-3">
          <!-- class="col-sm-12 col-lg-3" makes cards responsive -->
          <!-- col-lg-num -> here num decides the gap between cards -->
          <div class="card h-100" style="width:400px">
            <div class="card-body">
              <h4 class="card-title"> DOJ : {{ booking.date_of_journey }} </h4>
              <p class="card-text"> Time : {{ booking.time }} </p>
              <p class="card-text"> Destination : {{ booking.destination }} </p>
              <p class="card-text"> Amount_of_luggage : {{ booking.amount_of_luggage }} </p>
              <p class="card-text"> Budget : {{ booking.budget }} </p>
              <p class="card-text"> Booking created by <a href="{% url 'account:profile-another-user' booking.user.pk %}">{{ booking.user.username }}</a> </p>

              {% if requests %}
                {% for request in requests %}
                  {% if request.to_booking == booking %}
                    {% if not request.accept %}
                      <span id="unjoin"><button type="button" class="btn btn-primary" id="cancel" value="{{request.pk}}">Cancel Request</button></span>
                    {% else %}
                      <div class="dropdown">
                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tagged </button>
                        <div class="dropdown-menu dropdown-menu-right">
                          <a class="dropdown-item" href="#"><span id="unjoin"><button type="button" class="btn btn-light" id="untag" value="{{request.pk}}">Untag</button></span></a>
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                {% endfor %}
                {% if not booking in to_bookings %}
                  <span id="join"><button type="button" class="btn btn-primary" name="{{ booking.pk }}" id="request" value="{{ booking.user.pk }}">Request to join</button> </span>
                {% endif %}
              {% else %}
                <span id="join"><button type="button" class="btn btn-primary" name="{{ booking.pk }}" id="request" value="{{ booking.user.pk }}">Request to join</button> </span>
              {% endif %}

            </div>
          </div>
        </div>
    {% endfor %}
    </div>
  {% else %}
    <h3>No Bookings</h3>
  {% endif %}

  <script>
    $("#request").click(function () {
        var input = $(this).attr('name');

        $.ajax({
            url: "{% url 'cabshare:joinrequest' %}",
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
              'inputValue': input
            },
            dataType: 'json',
            success: function (data) {
              html = "You can cancel the request anytime in your myrequests page"
              document.getElementById('join').innerHTML = html;
            }
          });
        });

    $("#cancel").click(function () {
        var input = $(this).attr('value');

        $.ajax({
            url: '{% url 'cabshare:cancelrequest' %}',
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
              'inputValue': input
            },
            dataType: 'json',
            success: function (data) {
              html = 'Refresh the page to see "Request to join option"'
              document.getElementById('unjoin').innerHTML = html;
            }
          });
        });
    $("#untag").click(function () {
        var input = $(this).attr('value');

        $.ajax({
            url: "{% url 'cabshare:cancelrequest' %}",
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
              'inputValue': input
            },
            dataType: 'json',
            success: function (data) {
              window.location.reload();
            }
          });
        });

  </script>

{% endblock %}
