{% extends 'cabshare/base.html'%}

{% block title%} My Bookings {% endblock %}

{% block body %}
<div style="display:none">
<input type="text" id="from_user_pk" value="{{user.pk}}">
<input type="text" id="from_username" value="{{user.username}}">
</div>

  {% if requests %}
  <div class="card h-100" style="height:85vh;background: rgba(6, 4, 4, 0.6);">
    <div class="card-body">
    <div class="table-responsive">
       <table class="table table-hover">
         <thead style="border-color:white">
           <tr style="color:white">
             <th>Name</th>
             <th></th>
           </tr>
         </thead>
         <tbody>
           {% for request in requests %}
             <tr>
               <td> <a href="{% url 'account:profile-another-user' request.from_user.pk %}">{{ request.from_user.username }}</a> <span style="color:white">wants to tag you along </span></td>
               <td>
                 <a href="{% url 'cabshare:chat' request.from_user.pk %}"><button type="button" class="btn btn-primary">Chat</button> </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 {% if not request.accept %}
                   <button type="button" class="btn btn-primary" id="accept{{request.pk}}" name="{{request.pk}}" value="{{ request.from_user.pk }}" onclick="acceptrequest(this);accept(this);">Accept</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                   <a href="{% url 'cabshare:ignorerequest' request.pk %}"> <button type="button" class="btn btn-secondary"> Ignore </button> </a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                 {% else %}
                    <div class="dropdown">
                      <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">Tagged </button>
                      <div class="dropdown-menu dropdown-menu-right">
                        <a class="dropdown-item" href="{% url 'cabshare:ignorerequest' request.pk %}">Untag</a>
                      </div>
                    </div>
                 {% endif %}
               </td>
             </tr>
            {% endfor %}
         </tbody>
       </table>
     </div>
    </div>
  </div>
  {% else %}
      <h2>No requests yet</h2>
  {% endif %}

  <script>
    function acceptrequest(d) {
        var input = d.getAttribute('name');

        $.ajax({
            url: "{% url 'cabshare:acceptrequest' %}",
            data: {
              csrfmiddlewaretoken: "{{ csrf_token }}",
              'inputValue': input
            },
            dataType: 'json',
            success: function (data) {
              window.location.reload();
            }
          });
        }
  </script>

{% endblock %}
