{% extends 'account/base2.html'%}

{% block title%} Add Details {% endblock %}

{% block body %}
<style>
.card-body {
  background: rgba(6, 4, 4, 0.6);
 }
</style>

<div class="card-body" style="width:1000px">
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'account/form-template.html' %}
    <div class="form-group row">
      <div class="col-sm-10">
        <button type="submit" class="btn btn-success">Submit</button>
      </div>
    </div>
  </form>
</div>
{% endblock %}
